[submodule "rpl-sti-2023-1-fodex-backend"]
	path = backend
	url = https://gitlab.com/Asweh-Debrej/rpl-sti-2023-1-fodex-backend.git
[submodule "rpl-sti-2023-1-fodex-frontend"]
	path = frontend
	url = https://gitlab.com/Asweh-Debrej/rpl-sti-2023-1-fodex-frontend.git
